Django
djangorestframework
django-crispy-forms
django-filter
django-request
django-guardian
Markdown
Pigments
coreapi
psycopg2
requests
lxml
bs4
django-cors-headers
oauthlib
python-social-auth
requests-oauthlib
social-auth-app-django
social-auth-core
djoser
